
html, body {
    background: whitesmoke;
}

body{
    color: $dark-color;
		min-height: 100vh;
		display: flex;
		flex-direction: column;

		.content{
			&.projects {
				a {
					color: $gold-color !important;
					border-color: $gold-color;
				}
				figure {
					margin: 0 auto;
					width: auto;
					a {
						border: none;
					}
					&.project-img {
						img {
							border-radius: 12px;
						}
						margin-bottom: 1rem;

					}

				}
			}
		}
   /* @include tablet {
        .container  {
            height: 88%;
        }
    }
    @include desktop {
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .container {
            width: 100%;
            flex: 1;
            
            > .columns > .column:not(.main-title)
            {
							overflow:hidden;
               // display: flex;
                //flex-direction: column;
            }
            .header{
                flex: 0;
            }
            .content, .projects-grid{
                flex:1;
            }
        }
        footer {
            flex: 0;
        }
        .container > .columns {
            height: 100%;
            margin: 0 !important;
            > .column {
                height: 100%;
                position: relative;
                
                &.is-vcentered {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    > * {
                        flex: 0 0 100%;
                    }
                }
                
                &:after {
                    position: absolute;
                    content: " ";
                    left: 0;
                    width: 100%;
                    height: 6rem;
										bottom:0;
                    background:linear-gradient(to top, $body-color 16%, transparent);
                }
            }
        }
    }
    @media screen and ( min-height: 1023px )
    {
        .container {
            max-height: 1024px;
        }
    }*/
}

.container {
}
.columns 
{
    .infinite
    {
        overflow-y: scroll;
        &::-webkit-scrollbar { width: 0 !important; display: none !important }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        position: relative;
				@include desktop {
				 	height: 100%;
          padding-bottom: 7rem;
					&.with-header {
						height: 90%;
					}
       }
    }
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.projects-grid
{
	max-width: 1600px;
	margin: 0 auto;
	gap: .5rem;
	//display: grid;
	>* {
		margin: 0;
		margin-bottom: 0.5rem;
		//grid-template-rows: 1fr auto;
	}
	@include fullhd {
		a:first-child {
			.card-header {
				height: 400px;
			}
		}
	}
	@include tablet {
		column-count: 2;
		grid-template-columns: repeat((2, 1fr));
	}
	@include desktop {
		column-count: 3;
		grid-template-columns: repeat((3, 1fr));
		a:first-child {
			.card-header {
				height: 370px;
			}
		}
	}
    
	@include desktop {
		//grid-auto-rows: 5rem;
	}

	@include widescreen {
			height: 100%;
			a:first-child {
				.card-header {
					height: 390px;
				}
			}
	}
	a.has-card {
		@include fullhd {
			&:nth-of-type(odd) {
				grid-row-end: span 2;
			}
			&:nth-of-type(even) {
				grid-row-end: span 3;
				h3 {
						font-size: 1.5rem !important;
					}
			}
			&:nth-of-type(3n) {
				grid-row-end: span 3;
				h3 {
						font-size: 1.5rem !important;
					}
			}
		}
	}
	&.is-loading {
		overflow: hidden;
		&::before {
			content: "";
			background: $body-color;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		&::after {
			content:"\f1ce";
			font-family: "Font Awesome 6 Free";
			font-size: 5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.5;
			animation: rotating 1s linear infinite;
			z-index: 3;
		}
	}


}

footer.footer {
    background: $dark-color;
		overflow: hidden;
    padding: 1rem;
    @include desktop {
        padding-left: 3rem;
        width: 100%;
        margin: 0 auto;
        margin-top: auto;
				bottom: 0;
				left: 0;
				right: 0;
    }
		p {
			color: $dark-contrast-color;
		}
		
}

.content figure:not(.wp-block-embed) {
   // margin-left: 10px;
   // margin-right: 10px;
}


/* Make YouTube videos inserted via WordPress oEmbed full-width */
.wp-block-embed__wrapper {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    height: auto;
    padding-bottom: 56.25%;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .wp-block-embed__wrapper
    {
    }
}
.wp-block-image
{
    a{
        opacity: 1 !important;
    } 
}

figcaption {
    font-size: 14px;
}
