html, body {
    background: $body-color;
}

body{
    color: $textcolor;
    @include tablet {
        .container  {
            height: 88%;
        }
    }
    @include desktop {
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .container {
            width: 100%;
            flex: 1;
            
            > .columns > .column:not(.main-title)
            {
                display: flex;
                flex-direction: column;
            }
            .header{
                flex: 0;
            }
            .content, .projects-grid{
                flex:1;
            }
        }
        footer {
            min-height: 60px;
            flex: 0;
        }
        .container > .columns {
            height: 100%;
            margin: 0 !important;
            > .column {
                height: 100%;
                position: relative;
                
                &.is-vcentered {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    > * {
                        flex: 0 0 100%;
                    }
                }
                
                &:after {
                    position: absolute;
                    content: " ";
                    left: 0;
                    width: 100%;
                    height: 4rem;
                    background:linear-gradient(to top, $body-color, transparent);
                }
            }
        }
    }
    @media screen and ( min-height: 1023px )
    {
        .container {
            max-height: 1024px;
        }
    }
}

.container {
    max-width: $container-max-width !important;
    padding: 1rem;
}
.columns 
{
    &.is-variable-in-desktop
	{
		.columns{
			margin: 0;
		}
		&.is-6
		{
			@include customGap(1.5);
		}
		&.is-8{
			@include customGap(1.6);
		}
		&.is-10 {
			@include customGap(2);
		}
        @include desktop {
            .column {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
	}
    .infinite
    {
        overflow-y: scroll;
        &::-webkit-scrollbar { width: 0 !important; display: none !important }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        position: relative;
       @include desktop {
           padding-bottom: 2rem;
       }
    }
}

.projects-grid
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    grid-auto-rows: 14rem;
    &:not(.small)
    {
        grid-auto-rows: 11rem;
        @include widescreen {
            grid-auto-rows: 13rem;
        }
        @include fullhd {
            grid-auto-rows: 14rem;
        }

    }

    @include widescreen {
        
        grid-template-columns: repeat((2,1fr));
        height: 100%;
    }

}

footer.footer {
    background: transparent;
    padding: 1rem;
    padding-top: 0;
    @include desktop {
        padding-left: 3rem;
        width: 100%;
        max-width: $container-max-width;
        margin: 0 auto;
        margin-top: auto;
    }
    
}

.content figure:not(.wp-block-embed) {
    margin-left: 10px;
    margin-right: 10px;
}


/* Make YouTube videos inserted via WordPress oEmbed full-width */
.wp-block-embed__wrapper {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    height: auto;
    padding-bottom: 56.25%;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .wp-block-embed__wrapper
    {
    }
}
.wp-block-image
{
    a{
        opacity: 1 !important;
    } 
}

figcaption {
    font-size: 14px;
}
