/**
* Reusable elements like cards, buttons etc
**/

.card {
	overflow: hidden;
	position: relative;
	z-index: 0;
	width: 100%;

	
	
	.card-header {
		position: relative;
		display: block;
		font-size: 0;
		border: none;
		max-height: 400px;
		overflow: hidden;
		img {
			z-index: 0;
			position: relative;
			object-fit: cover;
			z-index: 1;
		}
		img.gif-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}
		&:after {
			position: absolute;
			transition: all 0.4s;
			width: 100%;
			height: 100%;
			z-index: 3;
			content:"";
			top:0;
			left: 0;
			background: rgba($dark-color, 0.4);
		}
		.header-content {
			transition: all 0.4s;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			position: relative;
			padding: 1rem;
			z-index: 4;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			> * {
				font-weight: normal;
			}
		}
		
	}
	.card-content {
		padding: 1rem;
		background: $dark-color;
	}
	&:hover {
		
		.card-header {
			img.gif-bg{
				z-index: 0;
			}
			.header-content {
				> p {
					text-shadow: 1px 1px 2px rgba($dark-color, 0.5);

				}
			}
			
			&:after {
				background: rgba($dark-color, 0.4);
	
			}
		}
	}
}
.select {
    border: 1px solid $blue-color;
    border-radius: 20px;
    color: $gold-color;
    font-weight: 700;
    font-size: 11px;
    padding: 0.15rem 1rem;
    display: inline-block;
		select {
			background: transparent;
			border: none;
		}
}
.tag {
	display: inline-block;
	&.is-gold {
		border-color: $gold-color;
		color: $gold-color;
		background: transparent;
	}
}
.select {
	border-radius: 5px;
	height: auto !important;
	padding: 0;
	font-size: 14px;
	select {
		color: $blue-color;
		font-weight: 700;
		height: auto;
	}
	&::after {
		border-color: $blue-color !important;
	}
	
}
.tags {
    margin-bottom: 0.5rem;
}

.header {
    position: relative;
    &.with-divider {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        span {
            flex: 1;
            margin-right: 1rem;
            border-top: 2px solid rgba($primary-color,0.5);
        }
    }
}
.about-me {
		display: flex;
		align-items: center;
		justify-content: center;
		img {
				flex: 0;
				height: 80px;
				width: 80px;
				border-radius: 100%;
				@include desktop {
					height: 100px;
					width: 100px;
				}
				@include fullhd {
						height: 125px;
						width: 125px;
				}
				
		}
		h1 {
				flex: 1;
				margin: 0 !important;
				margin-left: 1rem !important;
		}
}

figure.wp-block-image
{
	a{
		img {
			transition: transform .25s;
		}
		&:hover {
			img {
				transition: transform .25s;
				transform: scale(1.05);

			}
		}
	}
}



