@font-face {
	font-family: 'Canela';
	src: url('./webfonts/Canela-Regular.eot');
	src: url('./webfonts/Canela-Regular.eot?#iefix') format('embedded-opentype'),
		url('./webfonts/Canela-Regular.woff2') format('woff2'),
		url('./webfonts/Canela-Regular.woff') format('woff'),
		url('./webfonts/Canela-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Canela';
	src: url('./webfonts/Canela-Thin.eot');
	src: url('./webfonts/Canela-Thin.eot?#iefix') format('embedded-opentype'),
		url('./webfonts/Canela-Thin.woff2') format('woff2'),
		url('./webfonts/Canela-Thin.woff') format('woff'),
		url('./webfonts/Canela-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Canela';
	src: url('./webfonts/Canela-Medium.eot');
	src: url('./webfonts/Canela-Medium.eot?#iefix') format('embedded-opentype'),
		url('./webfonts/Canela-Medium.woff2') format('woff2'),
		url('./webfonts/Canela-Medium.woff') format('woff'),
		url('./webfonts/Canela-Medium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1,h2,h3,h4{
	color: $theme-primary
}

h1,h2,h3, .title {
	font-family: "Canela", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400 !important;
	font-style: normal;
	line-height: 1.5;
	
	&.has-text-weight-bold {
		font-weight: 600 !important;
	}
	//font-family: 'Cormorant Garamond','Canela';
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased; /* Chrome, Safari */
	-moz-osx-font-smoothing: grayscale; /* Firefox */
	//font-weight: 300;
	unicode-range: U+0000-001F, U+0021-007F;
	word-spacing: 0.125rem;
	letter-spacing: 0.1rem;
	strong {
			font-weight: 600;
	}
	&.is-size-0, span.is-size-0 {
		font-size: 3rem;
		@include mixins.tablet {
			font-size: 3.1rem;
		}
		@include mixins.desktop {
			font-size: 4rem;
		}
		@include mixins.widescreen {
			font-size: 4.7rem;
		}
		@include mixins.fullhd {
			font-size: 5.7rem;
		}
	}
		
}
h1,h2,h3, .title, .subtitle, p{
	&.is-gold {
		color: $gold-color;
		strong {
			color: $gold-color !important;
		}
	}
}
.title {
	line-height: 1.25;
}
h1,h2,h3,h4,h5,h6,p,.title, .subtitle, .content{
	&.canela-font{
		font-family: "Canela", sans-serif;
		font-optical-sizing: auto;
		font-weight: normal;
		font-style: normal;
		line-height: 1.5;
		&.has-text-weight-bold {
			font-weight: 600;
		}
	}
	strong {
		color: inherit;
	}
}

a {
	font-weight: bold;
	&:hover {
		color: darken($link,20%);
	}
	
	&.social {
		text-decoration: none;
		border: none;
		margin-left: 0.5rem;

		i.icon {
			height: 36px;
			width: 36px;
			display: inline-block;
			border-radius: 100%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 1.2rem;
			background: $theme-accent;
			span {
				color: $theme-bg
			}
		}

		&:hover,
		&:focus {
			i.icon{
				background: darken($theme-accent,10%);

			}
		}

	}

	&.no-border {
		border: none;
	}
	&.is-gold:not(.button) {
		color: $gold-color !important;
		border-color: $gold-color !important;
	}

}
strong {
	color: $dark-color;
}

