
@import "variables";

$fa-font-path: "./webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/layout/_all";
@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/tag";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/components/level";
@import "~bulma/sass/grid/columns";

@import "tipography";
@import "elements";
@import "base";


p,span, a {
	&.link {
		color: $primary-color;
		font-family: 'Lyon Display Web';
		position: relative;
		font-weight: 700;
		text-decoration: none;

		&:after {
			content: "\27F6";
			position: relative;
			margin-left: 0.5rem;
			font-family: sans-serif;
			//vertical-align: middle;
			font-size: 90%;
		}

		&.left {
			&:after {
				content: none;
			}

			&:before {
				content: "\27F5";
				position: relative;
				margin-right: 0.5rem;
				font-family: sans-serif;
				font-size: 90%;
			}
		}

	}
	
}

section.section {
	.container.is-fluid{
		@include mobile {
			padding: 0;
		}
		max-width: 1600px !important;
		padding-left: 0;
		padding-right: 0;
	}
	position: relative;
	&.colored-black {
		background: $dark-color;
		.title,p,h1,h2,h3,strong {
			color: white;
		}
		a:not(.button) {
			color: #F2F2F2;
			border-color: $dark-contrast-color;
		}
	}
	&.with-image {
		background-size: cover;
		background-position: center center;
		z-index: 0;
		> * {
			z-index: 2;
		}
		&.with-layer {
			
			&:after {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height: 100%;
				z-index: 1;
				content: "";
				background: $dark-color;
				opacity: 0.4;
			}
		}
		p, h1, h2 {
			text-shadow: 1px 1px 2px rgba($dark-color, 0.5);
		}
	}
	&#top-section {

		//font-size: 0;
		> .container {
			font-size: 1em;
		}
		img {
			max-height: 240px;
			width: auto;
			margin: 0 auto;
		}
		@include desktop {
			padding-bottom: 0;

			.columns > .column:last-child
			{
				padding-bottom: 0;
				font-size: 0;
			}
		}
		@include widescreen {
			img {
				max-width: 280px;
			}
		}
	}
}

button.button, a.button {
	&.is-ghost {
		padding: 0;
	}
	border-radius: 0;
	&.is-gold{
		color: $dark-contrast-color;
		background: $gold-color;
		border-width: 0px;
		&.is-outlined {
			border-width: 1px;
			border-color: $gold-color;
			background: transparent;
			color: $gold-color;
			&:hover, &:focus {
				background: $gold-color;
				color: $dark-contrast-color
			}
		}
	} 
}