{% extends "base.twig" %}
{% block content %}
<div class="columns is-vcentered is-variable is-8-desktop">
    <div class="column is-7">
        <div class="header has-small-padding-bottom">
            <a href="{{site.link}}" class="link arrow left">Go back</a>
        </div>
        <div class="content infinite">
					<div class="about-me">
						<img src="{{post.thumbnail.src}}" alt="Jose Rafael Strieidnger Pinilla">
						<h1 class="is-size-3 is-size-2-desktop is-size-1-fullhd">Jose Rafael<br><strong>Striedinger Pinilla</strong>
						</h1>
					</div>
				<br>
        {{post.content}}
        </div>
    </div>
    <div class="column ">
        <div class="header with-divider right has-small-padding-bottom">
            <span></span>
            <h2 class="is-size-4">Portfolio work</h2>
        </div>
        <div class="projects-grid infinite" id="projects-grid">
            {% for project in projects %}
                {% include 'partials/project-card.twig' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}