{% extends "base.twig" %}
{% block content %}
<div class="columns is-vcentered is-variable-in-desktop is-10">
    <div class="column is-three-fifths">
        <div class="header has-small-padding-bottom">
            <a href="{{site.link}}" class="link arrow left">Go back</a>
            <div class="about-me">
                <img src="{{post.thumbnail.src}}" alt="Jose Rafael Strieidnger Pinilla" >
                <h1 class="is-size-2 is-size-1-widescreen">Jose Rafael<br><strong>Striedinger Pinilla</strong></h1>
            </div>
            
        </div>
        <div class="content infinite">
        {{post.content}}
        </div>
    </div>
    <div class="column is-two-fifths ">
        <div class="header with-divider right has-small-padding-bottom">
            <span></span>
            <h2 class="is-size-3">Other work</h2>
        </div>
        <div class="projects-grid infinite small">
            {% for project in projects %}
                {% include 'partials/project-card.twig' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}