{% extends "base.twig" %}
{% block content %}
    <div class="columns is-vcentered is-variable is-8-desktop front-page">
        <div class="column is-two-fifths is-half-fullhd is-vcentered main-title">
            <h1 class="is-size-1-mobile main_title"><span>Jose Rafael</span><br><span>Striedinger</span></h1>
            <p class="is-size-5 is-size-4-fullhd ">{{post.content|striptags}}</p>


            <h3 class="is-size-5 is-size-3-desktop has-small-padding-top"><a href="{{site.link}}/about-me" class="link arrow">Read More</a></h3>
            
        </div>
        <div class="column is-three-fifths is-half-fullhd has-text-align-right">
            <div class="header with-divider right has-tiny-padding-bottom">
                <span></span>
                <h2 class="is-size-3">Portfolio work</h2>
            </div>
						<div class="level is-mobile">
						<div class="level-left"></div>
							<div class="level-right">
								<div class="level-item">
									<span>Filter:</span>
								</div>
								<div class="level-item">
									<div class="select" id="project-categories">
										<select>
											{% for tag in tags %}
												<option value="{{tag.slug}}">{{tag.name}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
						</div>

            <div class="projects-grid infinite">
                {% for project in projects %}
                    {% include 'partials/project-card.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}