{% extends "base.twig" %}
{% block content %}
<div class="columns is-vcentered is-variable-in-desktop is-10">
    <div class="column is-three-fifths">
        <div class="header has-small-padding-bottom">
            <a href="{{site.link}}" class="link arrow left">Go back</a>
            <br>
            <h1 class="is-size-3 is-size-2-desktop is-size-1-fullhd" style="margin-top:1rem">{{post.title}}</h1>
            {% for tag in post.tags %}
                <div class="tag">{{tag.name}}</div>
            {% endfor %}
        </div>
        <div class="content infinite">
        {{post.content}}
        </div>
    </div>
    <div class="column is-two-fifths ">
        <div class="header with-divider right has-small-padding-bottom">
            <span></span>
            <h2 class="is-size-3">Portfolio work</h2>
        </div>
        <div class="projects-grid infinite small">
            {% for project in projects %}

                {% include 'partials/project-card.twig' with {'selected': project.id == post.id ? true : false}%}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}