<footer class="footer">
    <p>© 2022 José Striedinger
    <a href="https://github.com/jstriedinger" class="social">
        <i class="icon">
            <span class="fab fa-github fa-lg"></span>
        </i>
    </a>
    <a href="https://www.linkedin.com/in/jstriedinger/" class="social">
        <i class="icon">
            <span class="fab fa-linkedin-in fa-lg"></span>
        </i>
    </a>
    <a href="mailto:jstriedinger2090@gmail.com" class="social">
        <i class="icon">
            <span class="fas fa-envelope fa-lg"></span>
        </i>
    </a>
    </p>
</footer>